.App {
 text-align: center;
 background: url(/assets/images/blurred_backgrounds/blur_bg_3.jpg) no-repeat center center fixed;
}


.navbar {
  background-color: #111;
  padding: 2px;
  margin-bottom: 25px;
  
 }

 a {
   color:white;
   font-family: 'Permanent Marker', cursive, sans serif, serif;
   font-size: 50px;
   padding: 5px 25px 5px 25px !important;
   }

 footer {
   text-align: left;
 }
